@use "../breakpoints.scss" as breakpoints;

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.textAlign {
    text-align: center;
}

.blockAlign {
    align-self: center;
}

.leftAlign {
    text-align: left;
    align-self: flex-start;

    ul,
    ol {
        list-style-position: outside;
        padding-left: 1.25rem;
    }

    li {
        text-align: left;
    }
}
